# Spatial resolution (in degrees) of the potential sites.
spatial_resolution: 0.28
# Path towards the various input data.
path_resource_data: '../input_data/resource_data'
path_transfer_function_data: '../input_data/transfer_functions'
path_population_density_data: '../input_data/population_density'
path_protected_areas_data: '../input_data/protected_areas'
path_land_data: '../input_data/land_data'
path_load_data: '../input_data/load_data'
path_transmission_data: '../input_data/transmission_data'
path_potential_data: '../input_data/potentials'
path_legacy_data : '../input_data/legacy'
path_shapefile_data: '../input_data/shapefiles'

# Various data layers to be taken into account in potential site selection.
resource_quality_layer: False
population_density_layer: False
protected_areas_layer: False
bathymetry_layer: False
orography_layer: False
forestry_layer: False
water_mask_layer: True
latitude_layer: False
legacy_layer: False
distance_layer: False

# Start time and end time of the analysis.
time_slice: ['2009-01-01T00:00', '2018-12-31T23:00']
# List of regions to be considered in the optimization.
#regions: ['DE', 'FR', 'ES', 'UK', 'IT', 'SE', 'PL', 'NL', 'PT', 'AT', 'EL', 'IE', 'DK', 'FI',
#          'RO', 'BE', 'BG', 'LT', 'CZ', 'EE', 'LV', 'HR', 'NO']
regions: ['EU']
# Technologies to deploy.
technologies: ['wind_onshore']

# Assessment measure for each time window. Available: mean, median or percentiles.
smooth_measure: 'mean'
# Defines how \alpha is considered in space and time.
alpha: 'load_central'
# Normalization procedures (detailed in tools.py). (min, max)
norm_type: 'max'
# Time-window length used to compute the criticality indicator. Integer value.
delta: 1


# Keeping files at the end of the run.
keep_files: True
# Run name
name_prefix: 'off_'

# Solution method: BB or HEU or RAND.
solution_method:
  BB:
    set: False
    c: 8
    solver: 'gurobi'
    mipgap: 0.02
    timelimit: 1800
    threads: 0
  HEU:
    set: True
    c: [1, 106, 212, 318, 424, 530]
    neighborhood: 1
    no_iterations: 200
    no_epochs: 500
    initial_temp: 200.
    no_runs: 100
    algorithm: 'SALS' #'GLS'
    which_sol: 'rand' #'rand'
    seed: 1
  RAND:
    set: False
    c: [50]
    no_iterations: 5
    no_epochs: 2
    no_runs: 9
    seed: 2

#deployment_constraint: 'country'
deployment_vector: {'EU': {'wind_onshore': 530}}

#deployment_constraint: 'tech'
#deployment_vector: {'wind_onshore': 3,
#                    'wind_offshore': 2}

#deployment_vector: {'DE':{'wind_offshore':1, 'wind_onshore': 2},
#                    'NL':{'wind_offshore':2, 'wind_onshore': 1}}

# Dict of deployments per partition.
#deployment_vector: {'UK':{'wind_offshore':10},
#                    'NL':{'wind_offshore':8},
#                    'FR':{'wind_offshore':7},
#                    'DE':{'wind_offshore':5},
#                    'DK':{'wind_offshore':5},
#                    'NO':{'wind_offshore':4},
#                    'PL':{'wind_offshore':4},
#                    'IE':{'wind_offshore':3},
#                    'IT':{'wind_offshore':3},
#                    'SE':{'wind_offshore':3},
#                    'FI':{'wind_offshore':2},
#                    'ES':{'wind_offshore':2},
#                    'EL':{'wind_offshore':2},
#                    'PT':{'wind_offshore':2},
#                    'BE':{'wind_offshore':1},
#                    'LT':{'wind_offshore':1},
#                    'LV':{'wind_offshore':1},
#                    'EE':{'wind_offshore':1}}

#deployment_vector: {'UK':{'wind_offshore':14},
#                    'NL':{'wind_offshore':10},
#                    'FR':{'wind_offshore':10},
#                    'DE':{'wind_offshore':6},
#                    'DK':{'wind_offshore':6},
#                    'NO':{'wind_offshore':5},
#                    'PL':{'wind_offshore':5},
#                    'IE':{'wind_offshore':4},
#                    'IT':{'wind_offshore':4},
#                    'SE':{'wind_offshore':4},
#                    'FI':{'wind_offshore':3},
#                    'ES':{'wind_offshore':3},
#                    'EL':{'wind_offshore':2},
#                    'PT':{'wind_offshore':2},
#                    'BE':{'wind_offshore':1},
#                    'LT':{'wind_offshore':1},
#                    'LV':{'wind_offshore':1},
#                    'EE':{'wind_offshore':1}}

#deployment_vector: {'UK':{'wind_offshore':21},
#                    'NL':{'wind_offshore':16},
#                    'FR':{'wind_offshore':15},
#                    'DE':{'wind_offshore':10},
#                    'DK':{'wind_offshore':9},
#                    'NO':{'wind_offshore':8},
#                    'PL':{'wind_offshore':8},
#                    'IE':{'wind_offshore':6},
#                    'IT':{'wind_offshore':6},
#                    'SE':{'wind_offshore':6},
#                    'FI':{'wind_offshore':4},
#                    'ES':{'wind_offshore':4},
#                    'EL':{'wind_offshore':3},
#                    'PT':{'wind_offshore':3},
#                    'BE':{'wind_offshore':2},
#                    'LT':{'wind_offshore':2},
#                    'LV':{'wind_offshore':1},
#                    'EE':{'wind_offshore':1}}

#deployment_vector: {'UK':{'wind_offshore':48},
#                    'NL':{'wind_offshore':36},
#                    'FR':{'wind_offshore':35},
#                    'DE':{'wind_offshore':22},
#                    'DK':{'wind_offshore':21},
#                    'NO':{'wind_offshore':18},
#                    'PL':{'wind_offshore':17},
#                    'IE':{'wind_offshore':14},
#                    'IT':{'wind_offshore':12},
#                    'SE':{'wind_offshore':12},
#                    'FI':{'wind_offshore':9},
#                    'ES':{'wind_offshore':8},
#                    'EL':{'wind_offshore':6},
#                    'PT':{'wind_offshore':6},
#                    'BE':{'wind_offshore':3},
#                    'LT':{'wind_offshore':3},
#                    'LV':{'wind_offshore':2},
#                    'EE':{'wind_offshore':1}}
